a {
  text-decoration: none !important;
}

.jumbotron {
  background-color: darksalmon;
  opacity: 0.8;
}

.main-card {
  flex-wrap: wrap;
}

.card-body {
  max-height: 100px;
}

.recipe-card {
  margin: 5px;
}

.card-header {
  color: tan;
}

.list-group {
  color: tan;
}